body {			
	font-size: 20px;
	font-color: #666;
	font-family: poppins;
	padding: 0;
	margin: 0;
}

div, table, form, p, ul, pre, section, article, aside {
	padding: 2%;
	border-radius: 3px;
	margin: 0.75% 0;
}

div, section, article, aside {
	margin: 0;
}

header, footer, nav {
	clear: both;
	background: #f5f5f5;	
	margin: 0;
	padding: 1%;
}

form input, form select, form button {			
	min-width: 250px;
	font-size: 120%;
	padding: 0.5%;
	text-align: center;
	border-radius: 3px;
}

form input[type=color] {
	min-width: 50px;
}

form textarea {
	width: 100%;
	min-height: 300px;
	border-radius: 3px;
}

fieldset {
	border: solid 1px #f5f5f5;
	border-radius: 3px;
}

form label, fieldset label, label {
	min-width: 150px;
	display: inline-block;
}

fieldset legend {
	font-size: 120%;
	font-weight: bolder;
	font-variant: underline;
	margin-left: 2%;
	
}		
pre {
	background-color: #f5f5f5;
}

li, blockquote, code {
	padding: 0 4%;
	list-style: none;
}

blockquote {
	font-style: italic;
	padding: 1% 8%;
}

h1,h2,h3,h4,h5,h6 {			
	margin: 2% 0;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 180%;
}

h3 {
	font-size: 160%;
}		

h4 {
	font-size: 140%;
}

h5 {
	font-size: 120%;
}

h6 {
	font-size: 110%;
}

hr {
	clear: both;
}

nav {
	padding: 0;
	background-color: black;  

}

nav[role=horizontal] > ul {
	height: 100%; /* Full height */	
	width: 100%;
	overflow: hidden; /* Enable scrolling if the sidenav has too much content */
	padding: 0;
	
}

nav[role=horizontal] > ul > li {
	display: inline;
	float: left;
}

nav[role=horizontal] > ul > li > a {
	display: block;
	vertical-align: middle;
}				


table {
	width: 100%;
	text-align: right;
}

tbody tr {
	maring: 5px 0;
}

tbody tr:hover {
	background-color: #FCFCE9;
}

tbody tr:nth-child(odd) {
	background-color: #f5f5f5;
}

tbody tr td {
	padding: 0.75% 0;
}

thead {
	border-bottom: solid 1px #f5f5f5;			
}

tfoot {
	border-top: solid 1px #f5f5f5;
	border-bottom: solid 1px #f5f5f5;
}


thead tr, tfoot tr {

	color: #666;
	font-weight: bold;
	font-size: 110%;
	
}

		
table caption {
	text-align: left;
	margin-bottom: 1%;
}



button, input[type=button], input[type=submit], input[type=reset]{
	background-color: #2F74D0;
	border-radius: 3px;
	color: #eeefff;			
}

button[disabled], input[disabled] {
	background-color: #ccc;;
	border-style: inset;
	border-width: 3px;
	font-color: #ddd;
}

a {
	color: #3923D6;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: #CDD11B;
}

a:active {
	color: #CDD11B;
}